<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@A_all</key>
	<array>
		<string>A</string>
		<string>AE</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
	</array>
	<key>@C_all</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
	</array>
	<key>@D_all</key>
	<array>
		<string>D</string>
		<string>Eth</string>
	</array>
	<key>@E_all</key>
	<array>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
	</array>
	<key>@I_all</key>
	<array>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
	</array>
	<key>@MN_all</key>
	<array>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
	</array>
	<key>@O_all</key>
	<array>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
	</array>
	<key>@U_all</key>
	<array>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
	</array>
	<key>@VW</key>
	<array>
		<string>V</string>
		<string>W</string>
	</array>
	<key>@Y_all</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
	</array>
	<key>@a_all</key>
	<array>
		<string>a</string>
		<string>agrave</string>
		<string>ae</string>
		<string>aacute</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
	</array>
	<key>@c_all</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
	</array>
	<key>@dq_all</key>
	<array>
		<string>d</string>
		<string>q</string>
	</array>
	<key>@e_all</key>
	<array>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
	</array>
	<key>@horz_bar</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>@i_all</key>
	<array>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
	</array>
	<key>@mn_all</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
	</array>
	<key>@o_all</key>
	<array>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
	</array>
	<key>@punct_lower</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
	</array>
	<key>@quote_all</key>
	<array>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
	</array>
	<key>@t_all</key>
	<array>
		<string>t</string>
		<string>tt</string>
	</array>
	<key>@u_all</key>
	<array>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
	</array>
	<key>@vw</key>
	<array>
		<string>v</string>
		<string>w</string>
	</array>
	<key>@y_all</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
</dict>
</plist>
