<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@A_all</key>
	<dict>
		<key>@C_all</key>
		<integer>-20</integer>
		<key>@U_all</key>
		<integer>-100</integer>
		<key>@VW</key>
		<integer>-180</integer>
		<key>@Y_all</key>
		<integer>-140</integer>
		<key>@a_all</key>
		<integer>-20</integer>
		<key>@c_all</key>
		<integer>-40</integer>
		<key>@dq_all</key>
		<integer>-40</integer>
		<key>@e_all</key>
		<integer>-40</integer>
		<key>@horz_bar</key>
		<integer>-120</integer>
		<key>@o_all</key>
		<integer>-40</integer>
		<key>@quote_all</key>
		<integer>-120</integer>
		<key>@t_all</key>
		<integer>-120</integer>
		<key>@u_all</key>
		<integer>-120</integer>
		<key>@vw</key>
		<integer>-160</integer>
		<key>@y_all</key>
		<integer>-140</integer>
		<key>L</key>
		<integer>-20</integer>
		<key>S</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-140</integer>
		<key>f</key>
		<integer>-40</integer>
		<key>greater</key>
		<integer>-20</integer>
		<key>guillemotleft</key>
		<integer>-120</integer>
		<key>k</key>
		<integer>-40</integer>
		<key>less</key>
		<integer>-80</integer>
		<key>s</key>
		<integer>-20</integer>
	</dict>
	<key>@C_all</key>
	<dict>
		<key>@A_all</key>
		<integer>-40</integer>
		<key>K</key>
		<integer>20</integer>
	</dict>
	<key>@D_all</key>
	<dict>
		<key>@A_all</key>
		<integer>-20</integer>
		<key>@VW</key>
		<integer>-20</integer>
		<key>@Y_all</key>
		<integer>-20</integer>
		<key>@vw</key>
		<integer>-20</integer>
	</dict>
	<key>@E_all</key>
	<dict>
		<key>@mn_all</key>
		<integer>0</integer>
	</dict>
	<key>@I_all</key>
	<dict>
		<key>@quote_all</key>
		<integer>0</integer>
	</dict>
	<key>@O_all</key>
	<dict>
		<key>@C_all</key>
		<integer>10</integer>
		<key>@I_all</key>
		<integer>0</integer>
		<key>@Y_all</key>
		<integer>-40</integer>
		<key>X</key>
		<integer>-40</integer>
	</dict>
	<key>@U_all</key>
	<dict>
		<key>@A_all</key>
		<integer>-100</integer>
		<key>@horz_bar</key>
		<integer>0</integer>
		<key>@punct_lower</key>
		<integer>-100</integer>
	</dict>
	<key>@VW</key>
	<dict>
		<key>@A_all</key>
		<integer>-180</integer>
		<key>@O_all</key>
		<integer>-40</integer>
		<key>@a_all</key>
		<integer>-140</integer>
		<key>@e_all</key>
		<integer>-120</integer>
		<key>@horz_bar</key>
		<integer>-100</integer>
		<key>@i_all</key>
		<integer>-40</integer>
		<key>@o_all</key>
		<integer>-100</integer>
		<key>@punct_lower</key>
		<integer>-200</integer>
		<key>@u_all</key>
		<integer>-40</integer>
		<key>@y_all</key>
		<integer>-60</integer>
		<key>r</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-100</integer>
	</dict>
	<key>@Y_all</key>
	<dict>
		<key>@A_all</key>
		<integer>-160</integer>
		<key>@C_all</key>
		<integer>-40</integer>
		<key>@MN_all</key>
		<integer>-20</integer>
		<key>@O_all</key>
		<integer>-40</integer>
		<key>@a_all</key>
		<integer>-140</integer>
		<key>@e_all</key>
		<integer>-140</integer>
		<key>@horz_bar</key>
		<integer>-100</integer>
		<key>@i_all</key>
		<integer>-20</integer>
		<key>@o_all</key>
		<integer>-140</integer>
		<key>@t_all</key>
		<integer>-40</integer>
		<key>@u_all</key>
		<integer>-60</integer>
		<key>AE</key>
		<integer>-180</integer>
		<key>S</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-100</integer>
		<key>period</key>
		<integer>-100</integer>
	</dict>
	<key>@a_all</key>
	<dict>
		<key>@c_all</key>
		<integer>-20</integer>
		<key>@e_all</key>
		<integer>-40</integer>
		<key>@horz_bar</key>
		<integer>-100</integer>
		<key>@mn_all</key>
		<integer>-20</integer>
		<key>@quote_all</key>
		<integer>-120</integer>
		<key>@t_all</key>
		<integer>-100</integer>
		<key>@u_all</key>
		<integer>-100</integer>
		<key>@vw</key>
		<integer>-110</integer>
		<key>@y_all</key>
		<integer>-120</integer>
		<key>b</key>
		<integer>-120</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>f</key>
		<integer>-40</integer>
		<key>h</key>
		<integer>-40</integer>
		<key>k</key>
		<integer>-30</integer>
		<key>l</key>
		<integer>-10</integer>
		<key>p</key>
		<integer>-40</integer>
		<key>s</key>
		<integer>-20</integer>
	</dict>
	<key>@c_all</key>
	<dict>
		<key>@a_all</key>
		<integer>0</integer>
		<key>@quote_all</key>
		<integer>-40</integer>
		<key>h</key>
		<integer>-20</integer>
	</dict>
	<key>@dq_all</key>
	<dict>
		<key>@a_all</key>
		<integer>-20</integer>
		<key>@e_all</key>
		<integer>-20</integer>
		<key>@i_all</key>
		<integer>-20</integer>
		<key>@u_all</key>
		<integer>-80</integer>
	</dict>
	<key>@e_all</key>
	<dict>
		<key>@e_all</key>
		<integer>0</integer>
		<key>@quote_all</key>
		<integer>-40</integer>
		<key>@vw</key>
		<integer>-20</integer>
		<key>@y_all</key>
		<integer>-20</integer>
		<key>b</key>
		<integer>-20</integer>
		<key>p</key>
		<integer>-20</integer>
		<key>r</key>
		<integer>10</integer>
	</dict>
	<key>@horz_bar</key>
	<dict>
		<key>@A_all</key>
		<integer>-120</integer>
	</dict>
	<key>@i_all</key>
	<dict>
		<key>@a_all</key>
		<integer>-20</integer>
		<key>@c_all</key>
		<integer>-30</integer>
		<key>@mn_all</key>
		<integer>-20</integer>
		<key>@t_all</key>
		<integer>-100</integer>
		<key>@vw</key>
		<integer>-60</integer>
		<key>r</key>
		<integer>-10</integer>
		<key>s</key>
		<integer>-10</integer>
	</dict>
	<key>@mn_all</key>
	<dict>
		<key>@a_all</key>
		<integer>-20</integer>
		<key>@e_all</key>
		<integer>-30</integer>
		<key>@i_all</key>
		<integer>-20</integer>
		<key>@mn_all</key>
		<integer>-20</integer>
		<key>@o_all</key>
		<integer>-30</integer>
		<key>@t_all</key>
		<integer>-60</integer>
		<key>b</key>
		<integer>-80</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-80</integer>
	</dict>
	<key>@o_all</key>
	<dict>
		<key>@mn_all</key>
		<integer>-20</integer>
		<key>@u_all</key>
		<integer>-20</integer>
		<key>b</key>
		<integer>-80</integer>
		<key>k</key>
		<integer>-20</integer>
	</dict>
	<key>@quote_all</key>
	<dict>
		<key>@A_all</key>
		<integer>-160</integer>
		<key>@a_all</key>
		<integer>-60</integer>
		<key>@mn_all</key>
		<integer>-40</integer>
		<key>J</key>
		<integer>-80</integer>
		<key>s</key>
		<integer>-100</integer>
	</dict>
	<key>@t_all</key>
	<dict>
		<key>@e_all</key>
		<integer>-20</integer>
		<key>@i_all</key>
		<integer>10</integer>
		<key>@o_all</key>
		<integer>-10</integer>
		<key>@u_all</key>
		<integer>0</integer>
		<key>l</key>
		<integer>10</integer>
	</dict>
	<key>@u_all</key>
	<dict>
		<key>@a_all</key>
		<integer>-20</integer>
		<key>@c_all</key>
		<integer>-20</integer>
		<key>@e_all</key>
		<integer>-20</integer>
		<key>@i_all</key>
		<integer>0</integer>
		<key>@o_all</key>
		<integer>-40</integer>
		<key>@t_all</key>
		<integer>-80</integer>
		<key>b</key>
		<integer>-60</integer>
		<key>g</key>
		<integer>0</integer>
		<key>s</key>
		<integer>-40</integer>
		<key>z</key>
		<integer>-20</integer>
	</dict>
	<key>@vw</key>
	<dict>
		<key>@a_all</key>
		<integer>-40</integer>
		<key>@e_all</key>
		<integer>-50</integer>
		<key>@i_all</key>
		<integer>-10</integer>
		<key>@o_all</key>
		<integer>-40</integer>
	</dict>
	<key>@y_all</key>
	<dict>
		<key>@a_all</key>
		<integer>-60</integer>
		<key>@e_all</key>
		<integer>-40</integer>
		<key>@o_all</key>
		<integer>-40</integer>
		<key>s</key>
		<integer>-20</integer>
	</dict>
	<key>AE</key>
	<dict>
		<key>@VW</key>
		<integer>0</integer>
		<key>@Y_all</key>
		<integer>0</integer>
		<key>@vw</key>
		<integer>0</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>@A_all</key>
		<integer>-20</integer>
		<key>@Y_all</key>
		<integer>-20</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@A_all</key>
		<integer>-200</integer>
		<key>@O_all</key>
		<integer>-20</integer>
		<key>@a_all</key>
		<integer>-100</integer>
		<key>@e_all</key>
		<integer>-60</integer>
		<key>@i_all</key>
		<integer>-20</integer>
		<key>@o_all</key>
		<integer>-60</integer>
		<key>@u_all</key>
		<integer>-20</integer>
		<key>@y_all</key>
		<integer>-20</integer>
		<key>r</key>
		<integer>-20</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>@A_all</key>
		<integer>-80</integer>
		<key>@o_all</key>
		<integer>-20</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>@O_all</key>
		<integer>0</integer>
		<key>@vw</key>
		<integer>-40</integer>
		<key>a</key>
		<integer>-20</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>@A_all</key>
		<integer>-100</integer>
		<key>@e_all</key>
		<integer>0</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@A_all</key>
		<integer>-20</integer>
		<key>@C_all</key>
		<integer>-20</integer>
		<key>@O_all</key>
		<integer>-20</integer>
		<key>@U_all</key>
		<integer>-40</integer>
		<key>@VW</key>
		<integer>-60</integer>
		<key>@Y_all</key>
		<integer>-60</integer>
		<key>@e_all</key>
		<integer>-40</integer>
		<key>@o_all</key>
		<integer>-40</integer>
		<key>@u_all</key>
		<integer>-60</integer>
		<key>@y_all</key>
		<integer>-60</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>@U_all</key>
		<integer>-80</integer>
		<key>@VW</key>
		<integer>-140</integer>
		<key>@Y_all</key>
		<integer>-140</integer>
		<key>@quote_all</key>
		<integer>-200</integer>
		<key>@y_all</key>
		<integer>-100</integer>
		<key>T</key>
		<integer>-140</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>@A_all</key>
		<integer>-100</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>T</key>
		<integer>0</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>@A_all</key>
		<integer>-160</integer>
		<key>@a_all</key>
		<integer>-40</integer>
		<key>@e_all</key>
		<integer>-40</integer>
		<key>@horz_bar</key>
		<integer>-40</integer>
		<key>@o_all</key>
		<integer>-40</integer>
		<key>H</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-160</integer>
		<key>s</key>
		<integer>-30</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>@a_all</key>
		<integer>0</integer>
		<key>@horz_bar</key>
		<integer>-100</integer>
		<key>@u_all</key>
		<integer>-80</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>@A_all</key>
		<integer>-20</integer>
		<key>@VW</key>
		<integer>-100</integer>
		<key>@Y_all</key>
		<integer>-100</integer>
		<key>@o_all</key>
		<integer>-20</integer>
		<key>@u_all</key>
		<integer>-80</integer>
		<key>@y_all</key>
		<integer>-80</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>@A_all</key>
		<integer>-20</integer>
		<key>@u_all</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-50</integer>
		<key>h</key>
		<integer>-20</integer>
		<key>p</key>
		<integer>-40</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>@A_all</key>
		<integer>-120</integer>
		<key>@O_all</key>
		<integer>0</integer>
		<key>@a_all</key>
		<integer>-70</integer>
		<key>@c_all</key>
		<integer>-40</integer>
		<key>@e_all</key>
		<integer>-40</integer>
		<key>@o_all</key>
		<integer>-40</integer>
		<key>@u_all</key>
		<integer>-20</integer>
		<key>@vw</key>
		<integer>-40</integer>
		<key>@y_all</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-140</integer>
		<key>h</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-40</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>@e_all</key>
		<integer>-20</integer>
		<key>@horz_bar</key>
		<integer>-100</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>@horz_bar</key>
		<integer>0</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>@a_all</key>
		<integer>-20</integer>
		<key>@u_all</key>
		<integer>-20</integer>
		<key>r</key>
		<integer>-20</integer>
	</dict>
	<key>colon</key>
	<dict>
		<key>@A_all</key>
		<integer>-40</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>@a_all</key>
		<integer>-120</integer>
		<key>@e_all</key>
		<integer>-140</integer>
		<key>@t_all</key>
		<integer>-40</integer>
		<key>f</key>
		<integer>-120</integer>
		<key>l</key>
		<integer>-20</integer>
		<key>r</key>
		<integer>-40</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>@a_all</key>
		<integer>-40</integer>
		<key>@e_all</key>
		<integer>-40</integer>
		<key>h</key>
		<integer>0</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>@a_all</key>
		<integer>-30</integer>
		<key>@e_all</key>
		<integer>-40</integer>
		<key>@o_all</key>
		<integer>-20</integer>
		<key>@t_all</key>
		<integer>-80</integer>
		<key>r</key>
		<integer>-20</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>@e_all</key>
		<integer>-20</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>@e_all</key>
		<integer>-20</integer>
		<key>@o_all</key>
		<integer>-20</integer>
		<key>@u_all</key>
		<integer>-40</integer>
		<key>@y_all</key>
		<integer>-40</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>d</key>
		<integer>-20</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>@e_all</key>
		<integer>0</integer>
		<key>@y_all</key>
		<integer>-20</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>@a_all</key>
		<integer>-40</integer>
		<key>@c_all</key>
		<integer>-20</integer>
		<key>@e_all</key>
		<integer>-20</integer>
		<key>@i_all</key>
		<integer>-20</integer>
		<key>@mn_all</key>
		<integer>-20</integer>
		<key>@o_all</key>
		<integer>-20</integer>
		<key>@t_all</key>
		<integer>-20</integer>
		<key>@u_all</key>
		<integer>-20</integer>
		<key>@vw</key>
		<integer>-20</integer>
		<key>l</key>
		<integer>-50</integer>
		<key>p</key>
		<integer>-20</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>@e_all</key>
		<integer>0</integer>
		<key>@t_all</key>
		<integer>-60</integer>
		<key>p</key>
		<integer>-60</integer>
	</dict>
</dict>
</plist>
